In [ ]:
!pip install jovian opendatasets --upgrade --quiet #To install the open dataset library

In [ ]:
dataset_url = 'https://www.kaggle.com/ananaymital/us-used-cars-dataset' #Dataset used in the project

In [ ]:
import opendatasets as od
od.download(dataset_url) #Downloading the dataset

In [ ]:
data_dir = './us-used-cars-dataset' #Directory for Dataset

In [ ]:
import os
os.listdir(data_dir) #To see the file that we have downloaded

In [ ]:
import pandas as pd #importing pandas library to work on dataframes
import numpy as np   #importing numpy library to use python array functions

In [ ]:
usedcars_csv = './us-used-cars-dataset/used_cars_data.csv'

In [ ]:
%%time
usedcars_df = pd.read_csv(usedcars_csv,  low_memory=False, nrows=1000000)

In [ ]:
usedcars_df.shape #shape() tells us about the number of rows and columns in a datset

In [ ]:
usedcars_df.head(2) #head() functions shows us the top 2 rows of the dataframe

In [ ]:
selected_cols= ['city','daysonmarket','dealer_zip','engine_cylinders','frame_damaged','make_name','horsepower','listed_date','latitude','longitude','price','wheel_system','seller_rating','maximum_seating','sp_name']
# Selecting the columns that will be used for the analysis

In [ ]:
%%time
usedcars_df_cols = pd.read_csv(usedcars_csv,  low_memory=False, nrows= 1500000, usecols=selected_cols)
usedcars_df_cols.head(2)

In [ ]:
usedcars_df_cols.describe().round(3) #describe() function is used to get statistical info about numerical columns

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(usedcars_df_cols.dtypes) #Here, I look at the datatypes for the selected columns from the dataset.

In [ ]:
selected_dtypes={
    'daysonmarket' : 'int32',
    'horsepower' :'float32',
    'latitude' : 'float32',
    'longitude' : 'float32',
    'price':'float32',
    'seller_rating': 'float32'
}

In [ ]:
%%time
usedcars_df_sample = pd.read_csv(usedcars_csv,  low_memory=False, nrows= 1500000, usecols=selected_cols, dtype=selected_dtypes, parse_dates=['listed_date'])

In [ ]:
usedcars_df_sample.shape #This shows the final dataframe with 1.5mn rows and 15 columns that will be used for the analysis

In [ ]:
usedcars_df_sample.head() #This shows the top 5 rows of the final dataframe

In [ ]:
usedcars_df_sample.isnull().sum() #isnull() function along with sum() gives a count of the missing values from each column

In [ ]:
!pip install pyarrow --upgrade --quiet

In [ ]:
usedcars_df_sample.to_feather('usedcars.feather')

In [ ]:
%%time
final_sample_df = pd.read_feather('usedcars.feather')

In [ ]:
final_sample_df.shape

In [ ]:
final_sample_df.duplicated().sum()  #duplicated() function checks for duplicates

In [ ]:
final_sample_df=final_sample_df.drop_duplicates() #drop_duplicates() is used to drop all the duplicate entries in the dataframe

In [ ]:
final_sample_df.shape # As we can see, we have removed the 1L duplicate values

In [ ]:
final_sample_df.isnull().sum() #isnull() along with sum() tells the count for missing values

In [ ]:
final_sample_df.engine_cylinders.unique() #unique() functions shows us the unique values in the column

In [ ]:
final_sample_df['engine_cylinders'].isna().sum() #isna() shows count of missing values

In [ ]:
final_sample_df = final_sample_df.replace(r'^\s+$', np.nan, regex=True) #replace function here replaces empty strings with Nan which we can then fill using fillna()

In [ ]:
final_sample_df['engine_cylinders'] = final_sample_df['engine_cylinders'].fillna(value = 'Unknown') #fillna() is used to fill the Nan Values with the specified value

In [ ]:
final_sample_df['engine_cylinders'].isna().sum()

In [ ]:
final_sample_df.shape

In [ ]:
final_sample_df['frame_damaged'].value_counts()

In [ ]:
final_sample_df['frame_damaged'].isna().sum()

In [ ]:
final_sample_df['frame_damaged'] = final_sample_df['frame_damaged'].fillna(value = 'Unknown')

In [ ]:
final_sample_df['frame_damaged'].isna().sum()

In [ ]:
final_sample_df.shape

In [ ]:
final_sample_df['frame_damaged'].unique()

In [ ]:
final_sample_df['horsepower'].isna().sum()

In [ ]:
final_sample_df.horsepower.nunique() #nunique() function gives count of unique values

In [ ]:
a = final_sample_df['horsepower'].describe()
a.round(2)

In [ ]:
import random
final_sample_df['horsepower'].fillna(random.uniform(200,300),inplace=True)
#fillna() is used to fill the NaN values of a column 
#random() function generates random variables between the said arguments

In [ ]:
a = final_sample_df.horsepower.describe()
a.round(2)

In [ ]:
final_sample_df['maximum_seating'].isna().sum()

In [ ]:
final_sample_df['maximum_seating'].unique()

In [ ]:
final_sample_df['maximum_seating'].value_counts()

In [ ]:
final_sample_df['maximum_seating'].fillna(value='5 seats', inplace=True)

In [ ]:
final_sample_df['maximum_seating'].isna().sum()

In [ ]:
final_sample_df['maximum_seating'].unique()

In [ ]:
final_sample_df = final_sample_df[~final_sample_df['maximum_seating'].isin(['--'])]
# ~(negation) symbol is used to reverse the output of our condition

In [ ]:
final_sample_df['maximum_seating'].unique()

In [ ]:
def num(value):
  return value.split()[0]

In [ ]:
final_sample_df['maximum_seating'].astype(str)

In [ ]:
final_sample_df['maximum_seating'].astype(str)

final_sample_df['maximum_seating'] = final_sample_df['maximum_seating'].apply(num)
#apply() function is used to apply the function to each row of the said column one by one.

final_sample_df['maximum_seating'] = final_sample_df['maximum_seating'].astype(np.int32)
# Here, I convert the column into a numerical column for efficiency and effectivness

In [ ]:
final_sample_df['maximum_seating'].unique()

In [ ]:
final_sample_df['seller_rating'].isna().sum()

In [ ]:
final_sample_df['seller_rating'].value_counts()

In [ ]:
final_sample_df.dropna(subset= ['seller_rating'], inplace=True)

In [ ]:
final_sample_df['seller_rating'].isna().sum()

In [ ]:
final_sample_df['wheel_system'].isna().sum()

In [ ]:
final_sample_df['wheel_system'].unique()

In [ ]:
final_sample_df['wheel_system'].dropna(inplace=True)

In [ ]:
final_sample_df = final_sample_df[final_sample_df['wheel_system'].isin(['AWD', 'FWD', '4WD', 'RWD', '4X2'])]

In [ ]:
final_sample_df['wheel_system'].isna().sum()

In [ ]:
final_sample_df.isna().sum()

In [ ]:
final_sample_df.info()

In [ ]:
final_sample_df.reset_index(drop='index',inplace=True) #This is to reset the index starting from 0 to 1320724
final_sample_df

In [ ]:
final_sample_df.to_csv('final_clean_df.csv') #to save the 'Dataframe' as a 'CSV' file

In [ ]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import plotly.express as px
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

In [ ]:
final_sample_df.describe().round(3)

In [ ]:
fig = px.histogram(final_sample_df, x="daysonmarket", marginal="box", title='Number of days in the market')
fig.update_layout(yaxis_title = 'Number of cars')
fig.show()

In [ ]:
maxseats = final_sample_df['maximum_seating'].value_counts()

In [ ]:
maxseats.plot.bar()
plt.title("Maximum Seating in Used Cars");
plt.xlabel("Maximum Seating");
plt.ylabel("Number of cars");

In [ ]:
wheelsys = final_sample_df['wheel_system'].value_counts()

In [ ]:
wheelsys.plot.pie(autopct='%1.2f%%',radius=1.8,figsize=(5,5),startangle=180);
plt.title('WHEEL SYSTEMS IN CAR', y= 1.3);

In [ ]:
fig = px.histogram(final_sample_df, x="price", marginal="box", title='Price Distribution of Used Cars')
fig.update_layout(yaxis_title = 'Number of cars')

In [ ]:
final_sample_df['price'].sort_values(ascending = True).iloc[1300000]

In [ ]:
a = final_sample_df['price'].sort_values(ascending = True).iloc[:1300000]
df = pd.DataFrame(a)

In [ ]:
fig = px.histogram(df, x="price", marginal="box", title='Price Distribution of Most Used Cars')
fig.update_layout(yaxis_title = 'Number of cars')

In [ ]:
#px.histogram(final_sample_df, x='seller_rating');
#plt.boxplot(final_sample_df['seller_rating']);
sns.set_theme(style="ticks");
fig = sns.boxplot(x=final_sample_df['seller_rating']);
fig.set(xlabel='Seller Ratings')
plt.title("Used Cars Sellers Ratings");
plt.show();

In [ ]:
px.scatter(final_sample_df,x='horsepower',y='price',title='Price Vs Horsepower')

In [ ]:
df = final_sample_df[['make_name']]
df = df.make_name.value_counts().head(30).sort_values(ascending = True)
df = pd.DataFrame(df)

In [ ]:
df.plot(kind='barh',figsize=(15,10),title='Number of Cars per Brand in Used Car Market',xlabel='Brand Name',ylabel='Number of cars');

In [ ]:
df = final_sample_df[['city','price']]
df1 = df.groupby('city')[['price']].count().sort_values('price',ascending= False) #To check number of cars for sale in each city
df2 = df1.head(30).sort_values('price',ascending=True);

In [ ]:
df2.plot(kind='barh',legend=False,xlabel='City',ylabel='Number of cars for sale', title='Top Cities Having Used Cars in Market',figsize=(13,8));

In [ ]:
final_sample_df['year']=final_sample_df['listed_date'].dt.year
final_sample_df['month']=final_sample_df['listed_date'].dt.month

In [ ]:
df1 = final_sample_df.sort_values(by='price', ascending= True)
df1 = df1.iloc[:1300000]
df2 = df1.groupby(['year','month'])['price'].median()
df3 = df2.reset_index()
df4 = df3.pivot('year','month','price')
plt.figure(figsize = (16,8))
sns.heatmap(df4,fmt="d",cmap='Greens');

In [ ]:
dmg = final_sample_df['frame_damaged'].value_counts()
dmg

In [ ]:
mylabels = ["Not Damaged","Unknown","Damaged"]
dmg.plot.pie(autopct='%1.2f%%',radius=1.5,figsize=(5,5),startangle=180,labels=mylabels);
plt.title('Damaged Vs Non Damaged Cars', y= 1.1,x=1.5);

In [ ]:
df = final_sample_df.groupby('make_name')['daysonmarket'].median().sort_values(ascending=True)
df.plot(kind='bar',figsize=(22,10),title='Time taken by Brands to resell',xlabel='Brands',ylabel='Number of Days');

In [ ]:
df5 = final_sample_df[['make_name','price']]
df6 = df5.groupby('make_name')['price'].mean().round(0)
df7= {'Brand' : df6.index,
    'Price' : df6.values
      
}

In [ ]:
df8 = pd.DataFrame(df7)
df8.set_index('Brand')
df8 = df8.sort_values(by="Price",ascending=True)

In [ ]:
px.bar(df8,x='Brand',y='Price',barmode='group',range_y=[0,250000],title='Average Prices of Different Brands in Used Cars Market',width=1100,height=600)